@()

@main("Welcome to Car Race Dashboard") {
    <script type="text/javascript">
    var source = new EventSource(" @routes.Application.rtEventSourceStream ");
    console.log("EventSource created");
    source.onmessage = function (event) {
    window.app.routers.RaceDashboardRouter.trigger("rtevent", JSON.parse(event.data));
} ;
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Car Race Dashboard</a>
            <div class="form-horizontal control-group">
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Select a car to follow <span class="caret"></span>
                    </button>
                    <ul id="carSel" class="dropdown-menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<!-- Example row of columns -->
    <div class="row-fluid">
        <div class="well span7">
            <h2 style="margin-top: -10px;">Race Track</h2>
            <div id="track" style="width:100%; height:270px"></div>
        </div>
        <div class="well span5">
            <div id="rtdata" style="width:100%; height:310px">
                <div class="row-fluid">
                    <h2 id="title" style="margin-top: -10px;">Real Time data : <i>select a car</i></h2>
                </div>
                <div class="row-fluid">
                    <div class="span7">
                        <div class="row-fluid">
                            <div id="speedGauge" class="jgauge" style="margin-left: 0px;"></div>
                        </div>
                        <div class="row-fluid">
                            <canvas id="distance" style="margin-left: 0px; width:160px; height:35px">
                                No canvas support!
                            </canvas>
                        </div>
                    </div>
                    <div class="span5" style="margin-top: 30px;">
                        <h3 style="margin-left: 35px;">Lap</h3>
                        <div id="lapCounter"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div id="statdata" class="well span12">
                <h3 style="margin-top: -10px;">Rank</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 15%">#</th>
                            <th style="width: 25%">Car</th>
                            <th style="width: 30%">Average speed</th>
                            <th style="width: 30%">Max speed</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; InTech 2012</p>
    </footer>
</div> <!-- /container -->

    <script type="text/template" id="template-rowstats">
        <tr>
            <td><%= rank %><img src="<%= iconUrl %>" style="height: 20px;"/></td>
            <td><%= name %></td>
            <td><%= avgSpeed %></td>
            <td><%= maxSpeed %></td>
        </tr>
    </script>


    <script type="text/javascript" src=" @routes.Assets.at("javascripts/models.Car.js") "></script>
    <script type="text/javascript" src=" @routes.Assets.at("javascripts/views.Track.js") "></script>
    <script type="text/javascript" src=" @routes.Assets.at("javascripts/views.RTData.js") "></script>
    <script type="text/javascript" src=" @routes.Assets.at("javascripts/views.TrackSelector.js") "></script>
    <script type="text/javascript" src=" @routes.Assets.at("javascripts/views.StatData.js") "></script>
    <script type="text/javascript" src=" @routes.Assets.at("javascripts/routes.RaceDashboardRouter.js") "></script>
    }