@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/jquery-ui-1.8.24.custom.css") ">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/main.css") ">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/bootstrap.css") ">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/bootstrap-responsive.min.css") ">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/rickshaw.css") ">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/jgauge.css") ">
<link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/jquery-flipcounter.css") ">
<link rel="shortcut icon" type="image/png" href=" @routes.Assets.at("images/favicon.png") ">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<style type="text/css">
    body {
    padding-top: 90px;
    padding-bottom: 40px;
    }
    .sidebar-nav {
    padding: 9px 0;
    }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBN7xbPPncfSsHvn_e3YoLrL_bgebgg3x8&sensor=false"></script>
<script src=" @routes.Assets.at("javascripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/jquery-1.8.1.min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/jquery-ui-1.8.24.custom.min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/bootstrap.min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/d3.v2.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/rickshaw.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/underscore-min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/backbone-min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/excanvas.min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/jQueryRotate.min.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/jgauge-0.3.0.a3.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/odometer.js") " type="text/javascript"></script>
<script src=" @routes.Assets.at("javascripts/vendor/jquery-flipCounter.js") " type="text/javascript"></script>
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>
    @content
</body>
</html>
